# Dependencies
node_modules/
research/transition*

# Build outputs
dist/
build/
out/
release/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local
.env.*.local

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Test coverage
coverage/
.nyc_output/

# Electron
*.electron/

research/transition/
temporary-test.js

server/.env
server/.deploy-state-adam.json
TODO.md